# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet. Special
thanks to: https://github.com/justmarkham for sharing the dataset and
materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import requests

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df = pd.read_csv(url,sep='\t')
chipo = df

### Step 4. See the first 10 entries

In [4]:
chipo.head(10)

### Step 5. What is the number of observations in the dataset?

In [7]:
# Solution 1
num_rows, num_columns = df.shape
 
print(f"{num_rows}")

4622

In [8]:
# Solution 2
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [9]:
num_columns = df.shape[1]
    
    # 打印列数
print(f"{num_columns}")

5

### Step 7. Print the name of all the columns.

In [10]:
column_names = df.columns.tolist()
column_names_str = ", ".join(column_names)
 
index_str = f"Index([{', '.join([f'u\'{col}\'' for col in column_names])}],\n       dtype='object')"
print(index_str)

Index([u'order_id', u'quantity', u'item_name', u'choice_description', u'item_price'],
       dtype='object')

### Step 8. How is the dataset indexed?

In [11]:
index = df.index
if isinstance(index, pd.RangeIndex):
    print(f"RangeIndex(start={index.start}, stop={index.stop}, step={index.step})")

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [53]:
item_quants = chipo.groupby(['item_name']).agg({'quantity':'sum'})
item_quants.sort_values('quantity', ascending=False)

### Step 10. For the most-ordered item, how many items were ordered?

In [55]:
item_quants.sort_values('quantity', ascending=False).iloc[0]

quantity    761
Name: Chicken Bowl, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [56]:
item_quants = chipo.groupby(['choice_description']).agg({'quantity':'sum'})
item_quants.sort_values('quantity',ascending=False)[:5]

### Step 12. How many items were orderd in total?

In [70]:
total_quantity = df['quantity'].sum()
print(f"{total_quantity} ")

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [100]:

chipo['item_price'] = chipo['item_price']
print(chipo['item_price'].dtype)

float64

#### Step 13.b. Create a lambda function and change the type of item price

In [92]:
df['item_price'] = df['item_price'].apply(lambda x: pd.to_numeric(x, errors='coerce')).astype('float64')
    
selected_columns = df[['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']].head(10)
price_dtype = selected_columns['item_price'].dtype

#### Step 13.c. Check the item price type

In [101]:

print(f"dtype('{price_dtype}')")

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [105]:
chipo = pd.read_csv(url, sep='\t')
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$', '')))
total_revenue = chipo['item_price'].sum()
formatted_revenue = "${:,.2f}".format(total_revenue)
print(f"Revenue was: {formatted_revenue}")

Revenue was: $34,500.16

### Step 15. How many orders were made in the period?

In [106]:
unique_order_count = df['order_id'].nunique()

print(f'{unique_order_count} ')

1834

### Step 16. What is the average revenue amount per order?

In [110]:
# Solution 1
average_price = chipo['item_price'].mean()
formatted_average_price = "${:,.2f}".format(average_price)

In [111]:
# Solution 2
print(f"Average Item Price was: {formatted_average_price}")

Average Item Price was: $7.46

### Step 17. How many different items are sold?

In [112]:
chipo.item_name.nunique()

50